/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #fafdff;
    color: rgb(160, 160, 160);
    padding: 20px;
}

.profile-img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
}

.user-info h3, .user-info p {
    margin: 5px 0;
}

nav a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-decoration: none;
}

nav a.active, nav a:hover {
    background-color: #760d33;
    color: white;
}

.bottom-section {
    margin-top: auto;
}

.logout {
    color: #ff6b6b;
    text-decoration: none;
}

/* Conteúdo principal */
main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

header .user-info {
    display: flex;
    align-items: center;
}

#export-pdf {
    padding: 8px 15px;
    background-color: #eb9c20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#export-pdf:hover {
    background-color: #36454f;
}

/* Cartões de Estatísticas */
.stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
}

/* Seção de Gráficos */
.charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.chart-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Estilos específicos para gráficos de linha */
#combinedChart {
    width: 100%;
    height: 500px; /* Altura dos gráficos */
    border-radius: 5px;
    background-color: transparent; /* Remove o fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos específicos para gráficos de barras */
#barChart {
    width: 100%;
    height: 500px; /* Altura dos gráficos */
    border-radius: 5px;
    background-color: transparent; /* Remove o fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos específicos para gráficos de radar */
#radarChart {
    width: 100%;
    height: 500px; /* Altura dos gráficos */
    border-radius: 5px;
    background-color: transparent; /* Remove o fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Estilos específicos para gráficos de bolha */
#bubbleChart {
    width: 100%;
    height: 500px; /* Altura dos gráficos */
    border-radius: 5px;
    background-color: transparent; /* Remove o fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Tabela de Dados Ambientais */
.dados-tabela {
    margin-top: 20px;
}

.dados-tabela h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

#ultima-atualizacao {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.dados-tabela table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.dados-tabela th, .dados-tabela td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.95em;
}

.dados-tabela th {
    background-color: #f1f3f5;
    color: #333;
    font-weight: bold;
}

.dados-tabela td {
    color: #555;
}

/* Controles de Paginação */
#pagination-controls {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.pagination-button {
    background-color: #760d33;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #5c0a27;
}

#page-info {
    font-size: 0.9em;
    color: #777;
}
