/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #fff; /* Mudei para branco para um visual mais limpo */
    color: rgb(160, 160, 160);
    padding: 20px;
    border-right: 1px solid #ddd; /* Adicionando uma borda direita */
}

/* Estilos do cabeçalho da sidebar */
.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 100%;
    max-width: 200px; /* Ajuste no tamanho da imagem */
    border-radius: 50%; /* Estilo circular para a imagem do perfil */
}

.user-info h3 {
    margin: 10px 0 5px;
    font-size: 1.2em; /* Aumentando o tamanho da fonte */
}

nav a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px 15px; /* Ajuste de padding para mais espaço */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 5px; /* Espaço entre os links */
    text-decoration: none;
    transition: background-color 0.3s; /* Suave transição de cor */
}

nav a:hover {
    background-color: #32448B; /* Cor de fundo ao passar o mouse */
    color: white;
}

nav a.active {
    background-color: #1c37a8; /* Cor de fundo do link ativo */
    color: white;
}

.bottom-section {
    margin-top: auto;
}

/* Logout estilizado */
.logout {
    color: #ff6b6b;
    text-decoration: none;
    padding: 10px 15px; /* Ajuste de padding */
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: rgba(255, 107, 107, 0.1); /* Efeito de hover para logout */
}

/* Conteúdo principal */
main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

header .user-info {
    display: flex;
    align-items: center;
}

#export-pdf {
    padding: 8px 15px;
    background-color: #eb9c20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#export-pdf:hover {
    background-color: #36454f;
}

/* Cartões de Estatísticas */
.stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    background: linear-gradient(135deg, #32448B 0%, #2575fc 100%); /* Gradiente azul-púrpura */
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    color: white; /* Texto branco para contraste */
}

.card:nth-child(2) {
    background: linear-gradient(135deg, #32448B 0%, #2575fc 100%); /* Gradiente laranja */
}

.card:nth-child(3) {
    background: linear-gradient(135deg, #32448B 0%, #2575fc 100%); /* Gradiente verde-azul */
}

.card:nth-child(4) {
    background: linear-gradient(135deg, #32448B 0%, #2575fc 100%); /* Gradiente vermelho-laranja */
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ffffff; /* Texto branco */
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; /* Texto branco */
}

/* Estilos do Formulário de Cadastro */
#data-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaço inferior do formulário */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #32448B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5c0a27;
}

/* Seção de Gráficos */
.charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.chart-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* Estilos específicos para gráficos de linha */
#combinedChart,
#barChart,
#radarChart,
#bubbleChart,
#pieChart,
#donutChart {
    width: 100%;
    height: 500px; /* Altura dos gráficos */
    border-radius: 5px;
    background-color: transparent; /* Remove o fundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Tabela de Dados Ambientais */
.dados-tabela {
    margin-top: 20px;
}

.dados-tabela h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

#ultima_atualizacao {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.dados-tabela table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.dados-tabela th,
.dados-tabela td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.95em;
}

.dados-tabela th {
    background-color: #f1f3f5;
    color: #333;
    font-weight: bold;
}

.dados-tabela td {
    color: #555;
}

/* Estilo dos botões de paginação */
.pagination-button {
    background-color: #1c37a8;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #32448B;
}

#page-info {
    font-size: 0.9em;
    color: #777;
}
